@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-foreground: #ededed;
  --color-primary: #FF5500;
  --color-secondary: #FFAA00;
  --color-muted: #1a1a1a;
  --color-accent: #FF5500;

  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
  --font-display: var(--font-syne);
}

@media (min-width: 768px) {
  body {
    cursor: none;
  }

  a,
  button {
    cursor: none;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

::selection {
  background: var(--color-primary);
  color: #000;
}